/auto-save-list
/elpa
/elpa-*
/network-security.data
auto-save-list
# Mac DS_Store Files
.DS_Store

*~
recentf
.cache/
.lsp*
lsp*
transient/
*.dat
pandoc-mode/
*.eld

eclipse.jdt.ls/
.dap-breakpoints
*.cache
request/
workspace/
eshell

bookmarks
custom.el
eaf
tldr
dirvish

git-stats.html